<p>
  <mat-toolbar color="primary">
    <span>NSR Traders</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>
<div *ngIf="!authenticated">
  <mat-form-field appearance="outline">
    <mat-label>Passcode</mat-label>
    <input type="password" matInput placeholder="Passcode" [(ngModel)]="passcode" (input)="login()">
  </mat-form-field>
</div>
<div *ngIf="authenticated">
  <mat-form-field appearance="outline">
    <mat-label>Gram of peanut</mat-label>
    <mat-select [(value)]="defaultGram" (selectionChange)="changeGramValue($event.value)">
      <mat-option *ngFor="let gram of gramList" [value]="gram">
        {{gram}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Bag Weight</mat-label>
    <mat-select [(value)]="defaultBagWeight" (selectionChange)="changeBagWeight($event.value)">
      <mat-option *ngFor="let bagWeight of bagWeightList" [value]="bagWeight">
        {{bagWeight}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="radio-div" *ngIf="authenticated">
  <label class="radio-label">Damage Cost</label>
  <mat-radio-group aria-label="Damage Cost">
    <mat-radio-button *ngFor="let damageCost of damageCostList" 
    [value]=damageCost.value [checked]=damageCost.checked (change)="changeDamageCost($event.value)">
    {{damageCost.value}}</mat-radio-button>
  </mat-radio-group>
  <label class="radio-label">Moisture Profit</label>
  <mat-radio-group aria-label="Moisture Profit">
    <mat-radio-button *ngFor="let moistureProfit of moistureProfitList" 
    [value]=moistureProfit.value [checked]=moistureProfit.checked (change)="changeMoistureProfit($event.value)">
    {{moistureProfit.value}}</mat-radio-button>
  </mat-radio-group> 
</div>
<div *ngIf="authenticated">
  <mat-form-field appearance="outline">
  <mat-label>Cost Price</mat-label>
  <input type="number" matInput placeholder="Cost Price" [(ngModel)]="costPrice" (input)="updateSellingPrice()">
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="showSellingPrice">
    <mat-label>Selling Price</mat-label>
    <input class="disabled-input" type="number" disabled matInput [(ngModel)]="sellingPrice">
  </mat-form-field>
</div>
<div class="table-data" *ngIf="calculated && authenticated">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="gram">
      <th mat-header-cell *matHeaderCellDef> Gram </th>
      <td mat-cell *matCellDef="let element"> {{element.gram}} </td>
    </ng-container>
    <ng-container matColumnDef="bagWeight">
      <th mat-header-cell *matHeaderCellDef> Bag Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.bagWeight}} </td>
    </ng-container>
    <ng-container matColumnDef="damageCost">
      <th mat-header-cell *matHeaderCellDef> Damage Cost </th>
      <td mat-cell *matCellDef="let element"> {{element.damageCost}} </td>
    </ng-container>
    <ng-container matColumnDef="moistureProfit">
      <th mat-header-cell *matHeaderCellDef> Moisture Profit </th>
      <td mat-cell *matCellDef="let element"> {{element.moistureProfit}} </td>
    </ng-container>
    <ng-container matColumnDef="inputParams">
      <th mat-header-cell *matHeaderCellDef> Input Params </th>
      <td mat-cell *matCellDef="let element"> 
        {{element.gram + '%|' + element.bagWeight + 'Kg|' + element.damageCost + 'Rs|' + element.moistureProfit + 'Rs'}} 
      </td>
    </ng-container>
    <ng-container matColumnDef="costPrice">
      <th mat-header-cell *matHeaderCellDef> Cost Price </th>
      <td mat-cell *matCellDef="let element"> {{element.costPrice}} </td>
    </ng-container>
    <ng-container matColumnDef="sellingPrice">
      <th mat-header-cell *matHeaderCellDef> Selling Price </th>
      <td mat-cell *matCellDef="let element"> {{element.sellingPrice}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

