.example-spacer {
  flex: 1 1 auto;
}
.mat-form-field {
  margin-left: 16px;
}
.table-data {
  margin-left: 16px;
  margin-top: 16px;
}
.submit-button {
  margin-left: 60px;
}
.mat-column-gram, .mat-column-bagWeight, .mat-column-damageCost, .mat-column-moistureProfit, .mat-column-costPrice, .mat-column-sellingPrice {
  text-align: center;
}
.disabled-input {
  color: mediumblue;
  font-weight: bold;
}
.mat-radio-button {
  margin-left: 16px;
}
.radio-div {
  margin-bottom: 16px;
}
.radio-label {
  margin-left: 16px;
}
