<p>
  <mat-toolbar color="primary">
    <span>NSR Traders</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>
<div *ngIf="!authenticated">
  <mat-form-field appearance="outline">
    <mat-label>Passcode</mat-label>
    <input type="password" inputmode="numeric" matInput placeholder="Passcode" [(ngModel)]="passcode" (input)="login()">
    <button mat-button *ngIf="passcode" matSuffix mat-icon-button aria-label="Clear" (click)="passcode=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div *ngIf="authenticated">
  <mat-form-field appearance="outline" class="input-width">
    <mat-label>Gram of peanut</mat-label>
    <select matNativeControl [(ngModel)]="defaultGram" (change)="changeGramValue($event)">
      <option *ngFor="let gram of gramList" [value]="gram">
        {{gram}}</option>
    </select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="input-width">
    <mat-label>Bag Weight</mat-label>
    <select matNativeControl [(ngModel)]="defaultBagWeight" (change)="changeBagWeight($event)">
      <option *ngFor="let bagWeight of bagWeightList" [value]="bagWeight">
        {{bagWeight}}</option>
    </select>
  </mat-form-field>
</div>
<div class="radio-div" *ngIf="authenticated">
  <label class="radio-label">Pinju Cost</label>
  <mat-radio-group aria-label="Pinju Cost">
    <mat-radio-button *ngFor="let damageCost of damageCostList" 
    [value]=damageCost.value [checked]=damageCost.checked (change)="changeDamageCost($event.value)">
    {{damageCost.value}}</mat-radio-button>
  </mat-radio-group>
</div>
<div class="radio-div" *ngIf="authenticated">
  <label class="radio-label">Moisture Profit</label>
  <mat-radio-group aria-label="Moisture Profit">
    <mat-radio-button *ngFor="let moistureProfit of moistureProfitList" 
    [value]=moistureProfit.value [checked]=moistureProfit.checked (change)="changeMoistureProfit($event.value)">
    {{moistureProfit.value}}</mat-radio-button>
  </mat-radio-group> 
</div>
<mat-divider *ngIf="authenticated" class="divider"></mat-divider>
<div *ngIf="authenticated">
  <mat-form-field appearance="outline" class="input-width">
  <mat-label>Cost Price</mat-label>
  <input type="text" pattern="[0-9]*" inputmode="numeric" matInput placeholder="Cost Price" [(ngModel)]="costPrice" (input)="updateSellingPrice()">
  <button mat-button *ngIf="costPrice" matSuffix mat-icon-button aria-label="Clear" (click)="costPrice=0; updateSellingPrice();">
    <mat-icon>close</mat-icon>
  </button>
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="showSellingPrice" class="input-width">
    <mat-label>Selling Price</mat-label>
    <input class="disabled-input" type="tel" disabled matInput [(ngModel)]="sellingPrice">
  </mat-form-field>
</div>
<div class="table-data" *ngIf="calculated && authenticated">
  <table mat-table [dataSource]="dataSource" class="table-container mat-elevation-z8">
    <ng-container matColumnDef="costPrice">
      <th mat-header-cell *matHeaderCellDef> Cost Price </th>
      <td mat-cell *matCellDef="let element"> {{element.costPrice | number:'1.0-0':'en-IN'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{inputParam1}} </td>
    </ng-container>
    <ng-container matColumnDef="sellingPrice">
      <th mat-header-cell *matHeaderCellDef> Selling Price </th>
      <td mat-cell *matCellDef="let element"> {{element.sellingPrice | number:'1.0-0':'en-IN'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{inputParam2}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>
</div>

